@import "~bootstrap/dist/css/bootstrap.css";
@import '~font-awesome/css/font-awesome.css';
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');
body{
  background-image: url("https://media.istockphoto.com/photos/sparkling-golden-christmas-star-ornament-decoration-defocused-bokeh-picture-id1279181821?k=20&m=1279181821&s=612x612&w=0&h=nrN6Q6O3b_GwcWuPmrBm6z9V8HYBGmlPT1EfSKzpytg=");
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
